html, body, form {
    font-family: sans-serif;
    font-weight: 900;
    background-color: rgb(51, 218, 168);
}

.dark-mode {
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(9, 42, 93);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(57, 218, 51);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(255, 255, 255);
}

.homepage-pic {
    width: 40%;
}